<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Meeting Manager</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <div class="header">
          <h2>Данные о совещании</h2>
        </div>
        <div class="base-form">
            <form action="#" th:action="@{/create}" th:object="${meeting}" method="post">
                <p>Тема: <input class="myinput" type="text" size="40" placeholder="Введите тему совещания"
                                id="topic" th:field="#{topic}"></p>
                <div class="form-group">
                    <label>Время проведения:</label>
                    <input type="date" size="40" class="form-control" id="dateSpending" th:field="#{dateSpending}">
                </div>
                <p>Подразделение: <input class="myinput" type="email" size="30" placeholder="Введите подразделение"
                id="meetingOrganizer" th:field="#{meetingOrganizer}"></p>
                <p>Ответственный: <input class="myinput" type="email" size="30" placeholder="Введите фамилию участника"
                id="organizedEmployee" th:field="#{organizedEmployee}"></p>
            <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Имя</th>
                    <th>Возраст</th>
                    <th>Подразделение</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>Удалить</td>
                  </tr>
                  <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>Удалить</td>
                  </tr>
                  <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>Удалить</td>
                  </tr>
                </tbody>
            </table>
            <button type="button" class="btn btn-dark">Добавить</button>
            <input class="btn btn-dark" type="submit" value="Сохранить">
            <input class="btn btn-dark" type="reset" value="Не сохранять">
            </form>
        </div>
        <div class="footer">
            <hr>
            <p>All rights reserved &copy;&nbsp;2019</p>
        </div>
    </div>     
</body>
</html>