<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Meeting Manager</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="container">
    <div class="header">
        <h2>Данные о докладе</h2>
    </div>
    <div class="base-form">
        <form action="#" th:action="@{/search_page/create_page/create_report_page/submit}" th:object="${report}" method="post">
            <p>Тема доклада: <input type="text" size="80" placeholder="Введите тему доклада"
                                    id="title" th:field="*{title}"></p>
            <p>Автор: <select class="browser-default custom-select" id="author_id"
                              th:field="*{author}">
                <option th:each="employee : ${employees}" th:value="${employee.id}" th:text="${employee.name}"/>
            </select>
            </p>
            <p><textarea cols=80 rows=10 id="content" placeholder="Текст доклада"
                         th:field="*{content}"></textarea>

            <input class="btn btn-dark" type="submit" value="Сохранить">
            <input class="btn btn-dark" type="reset" value="Не сохранять">
            <a class="btn btn-dark" href="/search_page">Назад</a>
        </form>
    </div>
    <div class="footer">
        <hr>
        <p>All rights reserved &copy;&nbsp;2020</p>
    </div>
</div>
</body>
</html>