<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Meeting Manager</title>
</head>
<body>
<div class="col-md-offset-3 col-md-12" align = "center">
    <div th:if="${param.error}">
        Invalid username and password.
    </div>
    <div th:if="${param.logout}">
        You have been logged out.
    </div>
    <form th:action="@{/login}" method="post">
        <div class="mb-3">
            <label class="form-label"></label>
            <input type="text" name="username" class="form-control col-sm-3" id="inputLogin"
                   aria-describedby="loginHelp" placeholder="Имя пользователя">
            <div id="loginHelp" class="form-text"></div>
        </div>
        <div>
            <label class="form-label"></label>
            <input type="password" name="password" class="form-control col-sm-3" id="inputPassword"
                   aria-describedby="passHelp" placeholder="Пароль">
            <div id="passHelp" class="form-text"></div>
        </div>
        <div><input class="btn btn-dark" type="submit" value="Войти"/></div>
    </form>
</div>
</body>
</html>